<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You have just logged in!</p>
    <!-- transfer the products_table from users router-->
     <%- products_table %>
  </body>
</html>
